* {
    box-sizing: border-box;
    margin: 0;
    /* background: #808b97; */
}

/* #####COLOR PALET#####
#132238 -- Dark Blue. 
#364e68 ---blue/grey.
#98ccd3  light blue
#ebf0f6 cold white.

*/

main {
    margin: 0;
    background: #808b97;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    min-height: 100vh;
}

header {
    background: #132238;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.link-nav {
    margin: 10px;
    color: #ebf0f6;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

/* .logo {
    height: 80px;
    width: auto;
} */

.avatar {
    height: 80px;
    width: 100px;
    border-radius: 50%;
    margin: 10px;
}

.regis-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    height: 400px;
    width: auto;
}

.bio-image {
    height: auto;
    width: 350px;
    margin: 20px;
}

.upload-image {
    border: 1px solid black;
    border-radius: 15px;
    background: #ebf0f6;
    height: 200px;
    width: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.up-img-tl {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: #364e68;
    display: inline-block;
    cursor: pointer;
    height: 40px;
    padding: 8px;
    border-radius: 10px;
}

button {
    background: #355ddf;
    color: white;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
}

#link-btn {
    background: none;
    border: none;
    padding: 0;
    color: #2835f0;
    font-family: sans-serif;
    font-size: 1em;
    text-decoration: underline;
    cursor: pointer;
    align-self: flex-start;
}

#form {
    border: 1px solid black;
    background: white;
    border-radius: 15px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.login {
    border: 1px solid black;
    background: white;
    border-radius: 15px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}
